form.tow-form {
    display: flex;
    flex-direction: column;
    margin: 0rem 33rem;
}
p.pFax {
    color: white;
}
.makeStyles-profile-5 {
    width: 157px;
    display: flex;
    justify-content: space-between;
}

.MuiIconButton-label {
    width: 44%!important;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
@media (max-width: 576px) {
   
    form.tow-form {
        display: flex;
        flex-direction: column;
        margin: 0rem 0rem;
    }
}