.comNav {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .ComLink {
    color: black!important;
  }
  
  h2.ComH:hover {
    color: white;
    text-shadow: 4px 4px grey;
    text-decoration: none;
  }
  a.comHref:focus {
    color: gray;
  }